body {
  margin: 0;
  padding: 0; }

.twisted {
  transform: rotate(180deg); }

.lw {
  font-family: 'Open Sans';
  max-width: 990px; }
  .lw header {
    background-image: url("../img/header_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    font-weight: 300;
    padding: 2em 2em 0 35%;
    box-sizing: border-box;
    color: white;
    text-align: right; }
    @media screen and (max-width: 625px) {
      .lw header {
        padding: 2em 1em 0 40%; } }
    @media screen and (max-width: 460px) {
      .lw header {
        padding: 2em 1em 0 35%; } }
    @media screen and (max-width: 306px) {
      .lw header {
        padding: 0.5em 1em 0 35%; } }
    .lw header h1 {
      font-weight: 300;
      font-size: 3rem;
      margin: 0; }
      @media screen and (max-width: 800px) {
        .lw header h1 {
          font-size: 1.8rem;
          font-weight: 600; } }
      @media screen and (max-width: 460px) {
        .lw header h1 {
          font-size: 1.5rem;
          margin-bottom: 0;
          box-sizing: border-box; } }
      @media screen and (max-width: 350px) {
        .lw header h1 {
          font-size: 1.3rem; } }
    .lw header h2 {
      font-size: 1.5rem;
      padding-top: 3em;
      margin: 0;
      font-weight: 300; }
      @media screen and (max-width: 800px) {
        .lw header h2 {
          padding-top: 1rem; } }
      @media screen and (max-width: 625px) {
        .lw header h2 {
          margin: 0 0 0.6em 0; } }
      @media screen and (max-width: 460px) {
        .lw header h2 {
          text-transform: uppercase;
          font-weight: 300;
          font-size: 1.2rem;
          padding-top: 0; } }
      @media screen and (max-width: 350px) {
        .lw header h2 {
          font-size: 1rem; } }
      @media screen and (max-width: 306px) {
        .lw header h2 {
          margin: 0; } }
    .lw header p {
      margin-left: 30%; }
      @media screen and (max-width: 715px) {
        .lw header p {
          margin: 0.3rem auto 0.3rem 0; } }
      @media screen and (max-width: 625px) {
        .lw header p {
          display: none; } }
  .lw section {
    margin-bottom: 2rem; }
    @media screen and (max-width: 625px) {
      .lw section {
        margin-bottom: 1rem; } }
    .lw section h2,
    .lw section h3 {
      font-weight: 600;
      text-align: center; }
    .lw section h2 {
      font-size: 1.35rem; }
  .lw section.issues h2 {
    margin: 1.5rem auto 1rem auto;
    text-align: center;
    width: 90%;
    height: 1rem;
    border-bottom: 1px solid black; }
    .lw section.issues h2 span {
      background-color: white;
      padding: 0 1rem; }
  .lw section.issues p,
  .lw .credits {
    text-align: justify;
    width: 70%;
    margin: auto;
    padding: 1rem;
    box-sizing: border-box; }
    @media screen and (max-width: 625px) {
      .lw section.issues p,
      .lw .credits {
        width: 100%; } }
    @media screen and (max-width: 460px) {
      .lw section.issues p,
      .lw .credits {
        text-align: left;
        padding: 0 1rem; } }
  .lw div.moreAction {
    text-align: center; }
    .lw div.moreAction a.restartGame,
    .lw div.moreAction a.wahlkreis {
      border: none;
      background: none;
      outline: none;
      text-decoration: none;
      color: #D05C5C;
      font-size: 1.1rem;
      display: block;
      cursor: pointer; }
  .lw section.wahlkreis h3,
  .lw section.question h3 {
    max-width: 85%;
    margin: auto; }
  .lw section.wahlkreis .title {
    text-align: center; }
  .lw section.personal-result .candidates {
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around; }
    .lw section.personal-result .candidates:first-of-type,
    .lw section.personal-result .candidates #secondPoliticalCandidate,
    .lw section.personal-result .candidates #secondPrivateCandidate {
      margin-bottom: 2rem; }
      @media screen and (max-width: 460px) {
        .lw section.personal-result .candidates:first-of-type .percentage,
        .lw section.personal-result .candidates #secondPoliticalCandidate .percentage,
        .lw section.personal-result .candidates #secondPrivateCandidate .percentage {
          width: 140px !important;
          height: 140px !important; }
        .lw section.personal-result .candidates:first-of-type .picture,
        .lw section.personal-result .candidates #secondPoliticalCandidate .picture,
        .lw section.personal-result .candidates #secondPrivateCandidate .picture {
          width: 120px !important;
          height: 120px !important; } }
      .lw section.personal-result .candidates:first-of-type .candidate,
      .lw section.personal-result .candidates #secondPoliticalCandidate .candidate,
      .lw section.personal-result .candidates #secondPrivateCandidate .candidate {
        opacity: 1;
        margin-bottom: 0; }
        .lw section.personal-result .candidates:first-of-type .candidate .info,
        .lw section.personal-result .candidates #secondPoliticalCandidate .candidate .info,
        .lw section.personal-result .candidates #secondPrivateCandidate .candidate .info {
          margin-top: 0.5rem; }
      .lw section.personal-result .candidates:first-of-type .percentage,
      .lw section.personal-result .candidates #secondPoliticalCandidate .percentage,
      .lw section.personal-result .candidates #secondPrivateCandidate .percentage {
        width: 200px !important;
        height: 200px !important; }
        @media screen and (max-width: 460px) {
          .lw section.personal-result .candidates:first-of-type .percentage,
          .lw section.personal-result .candidates #secondPoliticalCandidate .percentage,
          .lw section.personal-result .candidates #secondPrivateCandidate .percentage {
            width: 140px !important;
            height: 140px !important; } }
      .lw section.personal-result .candidates:first-of-type .picture,
      .lw section.personal-result .candidates #secondPoliticalCandidate .picture,
      .lw section.personal-result .candidates #secondPrivateCandidate .picture {
        width: 180px !important;
        height: 180px !important; }
        @media screen and (max-width: 460px) {
          .lw section.personal-result .candidates:first-of-type .picture,
          .lw section.personal-result .candidates #secondPoliticalCandidate .picture,
          .lw section.personal-result .candidates #secondPrivateCandidate .picture {
            width: 120px !important;
            height: 120px !important; } }
    .lw section.personal-result .candidates .candidate {
      max-width: 50%;
      opacity: 0.8;
      margin-bottom: 1rem; }
      .lw section.personal-result .candidates .candidate .topic {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        display: block;
        margin-bottom: 1rem; }
      .lw section.personal-result .candidates .candidate .percentage {
        width: 150px;
        height: 150px;
        margin: auto;
        position: relative; }
        @media screen and (max-width: 460px) {
          .lw section.personal-result .candidates .candidate .percentage {
            width: 90px;
            height: 90px; } }
        .lw section.personal-result .candidates .candidate .percentage .chart {
          position: absolute; }
        .lw section.personal-result .candidates .candidate .percentage .picture {
          width: 130px;
          height: 130px;
          overflow: hidden;
          position: absolute;
          margin: 10px;
          background-size: cover;
          background-position: center;
          border-radius: 50%;
          -moz-border-radius: 50%; }
          @media screen and (max-width: 460px) {
            .lw section.personal-result .candidates .candidate .percentage .picture {
              width: 70px;
              height: 70px; } }
      .lw section.personal-result .candidates .candidate .info {
        color: #6f6f6f;
        text-align: center;
        max-width: 80%;
        margin: auto; }
      .lw section.personal-result .candidates .candidate h2 {
        color: #A84A46;
        font-size: 3rem;
        font-weight: 300;
        margin: 0; }

.progress {
  display: none;
  margin-top: 1rem; }
  .progress .progresstext {
    text-align: center; }
  .progress .progressbar {
    background-color: #aaa;
    width: 80%;
    margin: 1rem auto;
    height: 3px; }
    .progress .progressbar .currentProgress {
      width: 0%;
      height: 3px;
      transition: 0.2s width;
      background-color: #D05C5C; }

.sharing-container {
  margin-bottom: 1.5rem;
  text-align: center; }
  .sharing-container ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .sharing-container ul li {
      display: inline;
      margin: 0 0.2rem; }
      .sharing-container ul li img {
        width: 30px;
        height: 30px; }

/* GRID TILES */
.lw .tile-grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 90%;
  margin: 1rem auto; }
  .lw .tile-grid a {
    text-decoration: none;
    color: black; }
  .lw .tile-grid .tiles {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    -ms-flex-preferred-size: 90%;
    flex-basis: 90%;
    max-width: 90%;
    margin: auto; }
    .lw .tile-grid .tiles .tile {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      max-width: 25%;
      -ms-flex: 1 1;
      flex: 1 1;
      padding: 4px;
      box-sizing: border-box; }
      .lw .tile-grid .tiles .tile .logo {
        width: 100px;
        height: 100px;
        line-height: 100px;
        display: block;
        border: 1px solid #090909;
        padding: 3px;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        -moz-border-radius: 50%;
        font-size: 2.4rem;
        margin: auto auto 1rem auto;
        cursor: pointer; }
        .lw .tile-grid .tiles .tile .logo:hover {
          border-color: #A84A46; }
          .lw .tile-grid .tiles .tile .logo:hover > span {
            background: #A84A46;
            border-color: transparent;
            color: white; }
        @media screen and (max-width: 900px) {
          .lw .tile-grid .tiles .tile .logo {
            width: 85px;
            height: 85px;
            line-height: 85px;
            font-size: 2rem; } }
        @media screen and (max-width: 350px) {
          .lw .tile-grid .tiles .tile .logo {
            margin: 0 auto 0.5rem auto; } }
        .lw .tile-grid .tiles .tile .logo > span {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          display: inline-block; }
          @media screen and (max-width: 900px) {
            .lw .tile-grid .tiles .tile .logo > span {
              width: 85px;
              height: 85px;
              line-height: 85px; } }
        .lw .tile-grid .tiles .tile .logo.icon > span {
          background-repeat: no-repeat;
          background-position: center;
          cursor: pointer; }
        .lw .tile-grid .tiles .tile .logo.answer {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border: 2px solid #D05C5C; }
      .lw .tile-grid .tiles .tile.picked .logo > span {
        background: #A84A46;
        border-color: transparent;
        color: white; }
      .lw .tile-grid .tiles .tile.blind {
        opacity: 0.7;
        transition: opacity 0.1s; }
        .lw .tile-grid .tiles .tile.blind:hover {
          opacity: 1; }
      .lw .tile-grid .tiles .tile .challenge {
        width: 100%;
        border: 2px solid #D05C5C; }
      .lw .tile-grid .tiles .tile .glow {
        animation-name: glowing;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        background: #83bbd6;
        color: white; }

@keyframes glowing {
  from {
    background: white;
    color: black; }
  to {
    background: #83bbd6;
    color: white; } }
    .lw .tile-grid .tiles .tile:nth-of-type(1n) .answer {
      background-image: url("../img/antwort-a.jpg"); }
    .lw .tile-grid .tiles .tile:nth-of-type(2n) .answer {
      background-image: url("../img/antwort-b.jpg"); }
    .lw .tile-grid .tiles .tile:nth-of-type(3n) .answer {
      background-image: url("../img/antwort-c.jpg"); }
    .lw .tile-grid .tiles .tile:nth-of-type(4n) .answer {
      background-image: url("../img/antwort-d.jpg"); }
  .lw .tile-grid .title {
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    text-align: left;
    font-weight: 300;
    max-width: 400px;
    box-sizing: border-box;
    margin: auto auto 0.3rem auto;
    font-size: 1rem;
    word-wrap: break-word;
    width: 93%; }
    @media screen and (max-width: 350px) {
      .lw .tile-grid .title {
        margin: 0 auto 1.2rem auto; } }
  .lw .tile-grid button.nextQuestion,
  .lw .tile-grid button.previousQuestion {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    height: 125px;
    padding: 0;
    margin: 0; }
  .lw .tile-grid .nextQuestion,
  .lw .tile-grid .previousQuestion {
    -ms-flex-preferred-size: 5%;
    flex-basis: 5%;
    max-width: 5%; }

@media screen and (max-width: 625px) {
  .lw .tile-grid .tiles .tile {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
    .lw .tile-grid .tiles .tile:nth-child(odd):last-child {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 100%; } }

@media screen and (max-width: 460px) {
  .lw .tile-grid {
    width: 100%; }
    .lw .tile-grid .tile {
      font-size: 12px; } }
