// Global Style
body{
  margin: 0;
  padding: 0;
}
.twisted{
  transform: rotate(180deg);
}

// Mixins
@mixin flex-size($width) {
  -ms-flex-preferred-size: $width;
  flex-basis: $width;
  max-width: $width;
}

// Variables
$grey: #888;
$primary: #D05C5C;
$secondary: #A84A46;
$complementary: #83bbd6;
$bg-url: '../img/header_bg.jpg';
$bg-mobile-url: '../img/bg-mobil.jpg';


// Styles
.lw{
  font-family: 'Open Sans';
  max-width: 990px;

  header{
    background-image: url($bg-url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    font-weight: 300;
    padding: 2em 2em 0 35%;
    box-sizing: border-box;
    color: white;
    text-align: right;

    @media screen and (max-width: 625px){
      padding: 2em 1em 0 40%;
    }
    @media screen and (max-width: 350px){
      padding: 2em 1em 0 35%;
    }

    h1{
      font-weight: 300;
      font-size: 3rem;
      margin: 0;

      @media screen and (max-width: 800px) {
        font-size: 1.8rem;
        font-weight: 600;
      }
      @media screen and (max-width: 460px) {
        font-size: 1.5rem;
        margin-bottom: 0;
        box-sizing: border-box;
      }
      @media screen and (max-width: 350px) {
        font-size: 1.3rem;
      }
    }

    h2{
      font-size: 1.5rem;
      padding-top: 3em;
      margin: 0;
      font-weight: 300;

      @media screen and (max-width: 625px) {
        margin: 0 0 0.6em 0;
        padding-top: 0;
      }
      @media screen and (max-width: 460px) {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.2rem;
      }
      @media screen and (max-width: 350px) {
        font-size: 1rem;
      }
    }
    p{
      @media screen and (max-width: 500px){
        display: none;
      }
    }
  }
  section{
    margin-bottom: 2rem;

    @media screen and (max-width: 625px){
      margin-bottom: 1rem;
    }

    h2,
    h3{
      font-weight: 600;
      text-align: center;
    }
    h2{
      font-size: 1.35rem;
    }
  }

  section.issues{
    h2{
      margin: 1.5rem auto 1rem auto;
      text-align: center;
      width: 90%;
      height: 1rem;
      border-bottom: 1px solid black;

      span{
        background-color: white;
        padding: 0 1rem;
      }
    }
  }

  section.issues p,
  .credits{
      text-align: justify;
      width: 70%;
      margin: auto;
      padding: 1rem;
      box-sizing: border-box;

      @media screen and (max-width: 625px) {
        width: 100%;
      }
      @media screen and (max-width: 460px) {
        text-align: left;
        padding: 0 1rem;
      }
  }

  div.moreAction{
    text-align: center;

    a.restartGame,
    a.wahlkreis{
      border: none;
      background: none;
      outline: none;
      text-decoration: none;
      color: $primary;
      font-size: 1.1rem;
      display: block;
      cursor: pointer;
    }
  }

  div.moreAction{
    text-align: center;

    a.restartGame,
    a.wahlkreis{
      border: none;
      background: none;
      outline: none;
      text-decoration: none;
      color: $primary;
      font-size: 1.1rem;
      display: block;
      cursor: pointer;
    }
  }

  section.wahlkreis,
  section.question{
    h3{
      max-width: 85%;
      margin: auto;
    }
  }

  section.wahlkreis{
    .title{
      text-align: center;
    }
  }

  $candidate-normal-size: 130px;
  $candidate-small-size: 70px;
  section.personal-result{

    .candidates{
      display: -ms-flexbox;
      display: flex;
      justify-content: space-around;


      &:first-of-type{
        @media screen and (max-width: 460px){
          .percentage{
            width: $candidate-small-size + 70px !important;
            height: $candidate-small-size + 70px !important;
          }
          .picture{
            width: $candidate-small-size + 50px !important;
            height: $candidate-small-size + 50px !important;
          }
        }

        margin-bottom: 2rem;

        .candidate{
          opacity: 1;
        }
        .percentage{
          width: $candidate-normal-size + 70px !important;
          height: $candidate-normal-size + 70px !important;

          @media screen and (max-width: 460px){
            width: $candidate-small-size + 70px !important;
            height: $candidate-small-size + 70px !important;
          }
        }
        .picture{
          width: $candidate-normal-size + 50px !important;
          height: $candidate-normal-size + 50px !important;

          @media screen and (max-width: 460px){
            width: $candidate-small-size + 50px !important;
            height: $candidate-small-size + 50px !important;
          }
        }
      }

      .candidate{
        max-width: 50%;
        opacity: 0.8;

        .topic{
          font-size: 1.2rem;
          font-weight: 600;
          text-align: center;
          display: block;
          margin-bottom: 1rem;
        }

        .percentage{
          width: $candidate-normal-size + 20px;
          height: $candidate-normal-size + 20px;

          margin: auto auto 1rem auto;
          position: relative;

          @media screen and (max-width: 460px){
            width: $candidate-small-size + 20px;
            height: $candidate-small-size + 20px;
          }

          .chart{
            position: absolute;
          }

          .picture{
            width: $candidate-normal-size;
            height: $candidate-normal-size;
            overflow: hidden;
            position: absolute;
            margin: 10px;

            background-size: cover;
            background-position: center;

            border-radius: 50%;
            -moz-border-radius: 50%;

            @media screen and (max-width: 460px){
              width: $candidate-small-size;
              height: $candidate-small-size;
            }
          }
        }

        .info{
          color: darken($grey, 10%);
          text-align: center;
          max-width: 80%;
          margin: auto;
        }

        h2{
          color: $secondary;
          font-size: 3rem;
          font-weight: 300;
          margin: 0.3rem 0;
        }
      }
    }
  }
}

.progress {
  display: none;
  margin-top: 1rem;

  .progresstext{
    text-align: center;
  }

  .progressbar{
    background-color: #aaa;
    width: 80%;
    margin: 1rem auto;
    height: 3px;

    .currentProgress{
      width: 0%;
      height: 3px;
      transition: 0.2s width;
      background-color: $primary;
    }
  }
}

.sharing-container{
  margin-bottom: 6.5rem;
  padding-top: 1.4rem;
  text-align: center;

  @media screen and (max-width: 940px) {
    margin-bottom: 5.5rem;
    padding-top: 1rem;
  }
  @media screen and (max-width: 900px) {
    margin-bottom: 6rem;
    padding-top: 1rem;
  }
  @media screen and (max-width: 800px) {
    margin-bottom: 4rem;
    padding-top: 1rem;
  }
  @media screen and (max-width: 715px) {
    margin-bottom: 1.5rem;
    padding-top: 0.5rem;
  }
  @media screen and (max-width: 625px) {
    margin-bottom: 0;
  }
  @media screen and (max-width: 460px) {
    padding-left: 0.5rem;
  }

  ul{
    list-style: none;
    margin: 0;
    padding: 0;

    li{
        display: inline;
        margin: 0 0.2rem;

        img{
          $icon_size: 30px;
          width: $icon_size;
          height: $icon_size;
        }
    }
  }
}

/* GRID TILES */
$tile-normal-width: 25%;

.lw .tile-grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  justify-content: space-around;

  width: 90%;
  margin: 1rem auto;

  a{
    text-decoration: none;
    color: black;
  }

  .tiles{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    @include flex-size( 90% );

    margin: auto;

    .tile {
      @include flex-size( $tile-normal-width);
      -ms-flex: 1 1;
      flex: 1 1;
      padding: 4px;
      box-sizing: border-box;

      .logo{
        $logo-size: 100px;
        $logo-smaller-size: 85px;

        width: $logo-size;
        height: $logo-size;
        line-height: $logo-size;

        display: block;
        border: 1px solid darken($grey, 50%);
        padding: 3px;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        -moz-border-radius: 50%;
        font-size: 2.4rem;
        margin: auto auto 1rem auto;
        cursor: pointer;

        &:hover{
          border-color: $secondary;

          > span{
            background: $secondary;
            border-color: transparent;
            color: white;
          }
        }

        @media screen and (max-width: 900px){
          width: $logo-smaller-size;
          height: $logo-smaller-size;
          line-height: $logo-smaller-size;
          font-size: 2rem;
        }
        @media screen and (max-width: 350px){
          margin: 0 auto 0.5rem auto;
        }

        > span{
          width: $logo-size;
          height: $logo-size;
          border-radius: 50%;
          display: inline-block;

          @media screen and (max-width: 900px){
            width: $logo-smaller-size;
            height: $logo-smaller-size;
            line-height: $logo-smaller-size;
          }
        }

        &.icon > span{
          background-repeat: no-repeat;
          background-position: center;
          cursor: pointer;
        }

        &.answer{
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border: 2px solid $primary;
        }
      }

      &.picked{
        .logo > span{
          background: $secondary;
          border-color: transparent;
          color: white;
        }
      }

      &.blind{
        opacity: 0.7;
        transition: opacity 0.1s;

        &:hover{
          opacity: 1;
        }
      }

      .challenge{
        width: 100%;
        border: 2px solid $primary;
      }

      .glow{
        animation-name: glowing;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        background: $complementary;
        color: white;
      }
      @keyframes glowing{
        from {
          background: white;
          color: black;
        }
        to {
          background: $complementary;
          color: white;
        }
      }
    }

    .tile:nth-of-type(1n) .answer {
      background-image: url("../img/antwort-a.jpg");
    }
    .tile:nth-of-type(2n) .answer {
      background-image: url("../img/antwort-b.jpg");
    }
    .tile:nth-of-type(3n) .answer {
      background-image: url("../img/antwort-c.jpg");
    }
    .tile:nth-of-type(4n) .answer {
      background-image: url("../img/antwort-d.jpg");
    }
  }

  .title {
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    text-align: left;
    font-weight: 300;
    max-width: 400px;
    box-sizing: border-box;
    margin: auto auto 0.3rem auto;
    font-size: 1rem;
    word-wrap: break-word;
    width: 93%;

    @media screen and (max-width: 350px){
      margin: 0 auto 1.2rem auto;
    }
  }

  button.nextQuestion,
  button.previousQuestion{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    height: 125px;
    padding: 0;
    margin: 0;
  }
  .nextQuestion,
  .previousQuestion{
    @include flex-size( 5% );
  }
}

// Flex Grid
@media screen and (max-width: 625px) {
  .lw .tile-grid .tiles .tile {
    @include flex-size(50%);

    &:nth-child(odd):last-child{
      @include flex-size(100%);
    }
  }
}
@media screen and (max-width: 460px) {
  .lw .tile-grid{
    width: 100%;

    .tile {
        font-size: 12px;
    }
  }
}
